:root{
  --primary-color:#e57373 ;
  --sec-color:#c62828;
}
body{
  width:100vw;
  height:100vh;
  padding:0;
  background-image:linear-gradient(#c62828,#e53935 );
}
#survey-form{
  background-color:var(--primary-color);
}
